{% extends "base.html" %}

{% block title %}
Change Password | PepaGRADE
{% endblock %}

{% block content %}

<div style="
    max-width:550px;
    margin:60px auto;
">

    <div class="card">

        <h1 style="color:#16803c;">
            Create Your New Password
        </h1>

        <p>
            This is your first login. For security, you must
            change the default password before accessing
            the lecturer dashboard.
        </p>

    </div>


    <form method="POST">

        {% csrf_token %}

        <p>

            <label>
                New Password
            </label>

            <input
                type="password"
                name="new_password"
                required
                minlength="8"
            >

        </p>


        <p>

            <label>
                Confirm New Password
            </label>

            <input
                type="password"
                name="confirm_password"
                required
                minlength="8"
            >

        </p>


        <button
            type="submit"
            class="button primary-button">

            Change Password

        </button>

    </form>

</div>

{% endblock %}